# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/Il2CppMetaForge/FileContentIndex/6f3c5897-cb33-4ab5-8a33-e5e2b8fefbce.vsidx
.vs/Il2CppMetaForge/FileContentIndex/9114902a-86c0-4ba0-ae61-879bf7715565.vsidx
/.vs/Il2CppMetaForge/v17*
*.tlog
*.filters
*.vcxproj
*.recipe
*.iobj
*.ipdb
*.log
x64/Release/global-metadata.dat
*.vsidx
/Il2CppMetaForge/build
